<!DOCTYPE html>
<html>
<head>
<style>
body {
    font-family: "Lato", sans-serif;
    background-color: #F2F3F4;
}


</style>

</head>
<body>
<div class = "header">
<div class="container">
  <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div id="imaginary_container"> 
                <div class="input-group stylish-input-group">
                    <input type="text" class="form-control"  placeholder="Search" >
                    <span class="input-group-addon">
                        <button type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>  
                    </span>
                </div>
            </div>
        </div>
  </div><br>

</div>

</div>
<center><h2><font color="#99A3A4">Choose courses per category</font></h2></center>

<table>
<% @departments.each do |department|%>
<tr>
<h2><font color = "#566573"><%= link_to department.name, "/courses?filter = #{department.name}"%></font></h2>
</tr>
<% department.courses.each_slice(3) do |three_courses| %>
    <div class="row">
      <div class="col-md-1"> </div>
        <% three_courses.each do |course| %>
          <div class="col-md-4">
          <center><img src="<%= course.cover%>" class="img-responsive"></center><br>
            <center><b><%= link_to course.name.upcase, "/courses/#{course.id}" %></b></font></center>
            <center><h5><%= course.short_description %></h6></center><br>
            <center><button type="button" class = "btn btn-<%= ["success", "info", "danger", "primary", "warning"].sample %> btn-block">Register</button></center>
          </div>
          <div class="col-md-1"> </div> 
        <% end %>
    </div>

  <% end %>
  <br><br>
  <% end %>

</table>

</div>

<h5><center><p>&copy; 2017 Register<p></center></h5>

</html> 
