
<style>
  table { border-collapse: collapse; }
  tr:nth-child(3) { border: solid thin; }
</style>

<div class="form-group">
  <br>
  <center>
    <%= form_tag"/courses/rosters?course=#{params[:course_id]}", method: :get do%>
    <select class="selectpicker" id ="selectCourse" name = "course_id">
      <option disabled selected>
        Select a Course
      </option>
      <%= @registrations.each do |registration|%>
      <option value="<%= registration.course.id || registration.id %>" id = "crs" name = "d_id"><%= registration.course.name || registration.name %></option>
      <% end %>
    </select>
    <button class = "btn btn-success" id = "select_button">submit</button>

    <% end %>
  </div>

  <div class = "row">
  <div class = "col-md-8">
  <h3> Roster for <b>"<%= @course_name %>"</b></h3>
  </div>

  <div class = "col-md-4">
  <b>Mark All:</b>
    <div class="btn-group">
      <button type="submit" class="btn btn-primary" onclick="setAccepted()">Accepted</button>
      <button type="button" class="btn btn-primary" onclick="setRejected()">Rejected</button>
      <button type="button" class="btn btn-primary" onclick = "setWaitlisted()">Waitlisted</button>
      <button type="button" class="btn btn-primary" onclick ="setReset()">Reset</button>
    </div>
  </div>
  </div>

  <table id = "rosterShow" border = "1">
    <tr>
      <th>Student Names</th>
      <th>Student Email</th>
      <th>Current status</th>
      <th>Decision</th>
    </tr></h3>
    <%= form_tag "rosters", method: :patch do%>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
    <% @studentcourses.each do |studentcourse|%>
    <tr>
      <td id = "rostertd" ><%= studentcourse.student.user.first_name + " " + studentcourse.student.user.last_name %></td>
      <td id = "rostertd"> <%= studentcourse.student.user.email_address %></td>
      <td id = "rostertd"> 
          <button class = "btn btn-success" disabled><%= studentcourse.status.name%> </button>
      </td>
      <td id = "rostertd">
      <select name = "reg_info[]status" id ="current_status" class = "current_status">
        <option disabled="" selected="">
          Select
        </option>
        <% @stat.each do |status| %>
            <option value = "<%= status.id %>" id = "current_status">
              <%= status.name %>
            </option>
          
        <% end %>
        </select>
      </td>
    </tr>
    <input type="hidden" name="course_id" value = "<%= studentcourse.course_id%>">
    <input type="hidden" name="reg_info[]id" value = "<%= studentcourse.id%>">

    <% end %>
  </table> <br>
  <button class = "btn btn-success">Update</button>
  <% end %>

  