<!DOCTYPE html>
<html>
  <head>
    <title>Register</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    

<!DOCTYPE html>
<html>
<head>
<style>

body {
    font-family: "Lato", sans-serif;
    background-color: #EAEDED;
}


</style>

</head>
<body>
<div class = "header" id = "umutwe">
<div class="container">
  <div class="row">
    <div class = "col-md-6" id ="headerTitle" >
      <font color = "white"><h3>Reg</font><font color = "green">ister</h4></font>
    </div>

    <% if current_user %>

    <div class = "col-md-5" id = "headerEnd"> <br>
      <ul class="nav nav-pills" role="tablist" id= "menu">
        <li role="presentation"><a href="/profile"> Hello, <%= current_user.last_name %>!</a></li>
        <% if current_user && current_user.role.name == "admin" %>
          <li role="presentation"><a href="/settings">Settings</a></li>
        <% elsif current_user %>
        <li role="presentation"><a href="/dashboard">Dashboard</a></li>
        <% end %>
        <li role="presentation"><%= link_to "Log Out", "/logout", method: :delete %></li>
      </ul>
    </div>

    <% else %>
    <div class = "col-md-4" id = "headerEnd"> <br>
       <h4><p align = "right"><%= link_to "Sign Up", "/signup" %></p></h4>
    </div>

    <div class = "col-md-1" id = "headerEnd"> <br>
       <h4><%= link_to "Log in", "/login" %> </h4>
     </div>
    <% end %> 
  </div>
</div>
 
<%= form_tag "/courses", method: :get do %>
<div class="container">

  <div class="row">
       <div class="col-sm-2 col-sm-offset-2">
            <div id="imaginary_container"> 
                <div class="input-group stylish-input-group">
                    <input type="text" class="form-control"  placeholder="Search for a course" id ="searchButton" name = "find"></center>
                    <span class="input-group-addon">
                        <button type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>  
                    </span>
                </div>
            </div>
        </div>
  </div><br>
</div>
<% end %>


</body>
</html>


      <% flash.each do |key, value| %>
              <div class="alert alert-<%= key %> alert-dismissable " ><%= value %></div>
      <% end %>
    <%= yield %>
  </body>
</html>

<html id = "hmenu">
<script type="text/javascript">
  $(document).ready(function() {
    $(document).delegate('.open', 'click', function(event){
      $(this).addClass('oppenned');
      event.stopPropagation();
    })
    $(document).delegate('body', 'click', function(event) {
      $('.open').removeClass('oppenned');
    })
    $(document).delegate('.cls', 'click', function(event){
      $('.open').removeClass('oppenned');
      event.stopPropagation();
    });
  });

</script>

<% if current_user %>
<body class = "bmenu">

<div  class="open">
  <span class="cls" id = "mspan"></span>
  <span id = "mspan">
    <ul class="sub-menu " caption = "Menu">
      <li id ="lim">
      <% if current_user.role.name == "admin" %>
        <a href="/settings" title="dashboard" id = "linkm">
        <% else %>
        <a href="/dashboard" title="dashboard" id = "linkm">
        <% end %>
        <span class="glyphicon glyphicon-home" aria-hidden="true">
        Dashboard
        </span>
        </a>

        <% if current_user.role.name == "student"%>
        <li id ="lim">
        <a href="/profile" title="departments" id = "linkm"><span class="glyphicon glyphicon-user" aria-hidden="true">
        Profile
        </span></a>
      </li>
      <% end %>
        
      </li>
      <li id ="lim">
        <a href="/courses" title="courses" id = "linkm"><span class="glyphicon glyphicon-book" aria-hidden="true">
        Courses
        </span>
        </a>
      </li>
      <% if current_user.role.name == "admin" || current_user.role.name == "teacher"%>
      <li id ="lim">
        <a href="/courses/rosters" title="rosters" id = "linkm"><span class="glyphicon glyphicon-list-alt" aria-hidden="true">
        Rosters
        </span>
        </a>
      </li>
      <li id ="lim">
        <a href="/settings" title="departments" id = "linkm"><span class="glyphicon glyphicon-cog" aria-hidden="true">
        Settings
        </span></a>
      </li>
      <% end %>

    </ul>
  </span>
  <span class="cls" id = "mspan"></span>
</div>

</body>

</html>
<% end %>
